@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input,
button {
    border: 0;
    outline: 0;
}
body {
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: "Poppins";
}

.card{
    flex-basis: 470px;
    flex-shrink: 1;
    flex-grow: 0;
    margin: 0px 15px;
    background: linear-gradient(188deg, #62b8f6 0%, #2c79c1 100%);
    color: #fff;
    border-radius: 20px;
    padding: 40px 20px;
    text-align: center;
    height: 230px;
    transition: all 0.5s;
}

.card__title {
    font-size: 32px;
}

.card__title--temp {
    font-size: 70px;
    font-weight: 500;
}

.card__title--city {
    font-size: 45px;
    font-weight: 400;
}

.card__date{
    font-size: 20px;
    margin-bottom: 15px;
}

.card__search{
    display: flex;
    column-gap: 10px;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}

.card__input {
    color: #555;
    padding: 10px 25px;
    border-radius: 30px;
}
